
.App {
  text-align: center;
  background-color: yellowgreen;
  }
  form {
  border:2px solid green;
  padding: 30px;
  }
  
  img{
  height: 5%;
  width: 20%;
  border:1px solid black;
  }
  
  .App-header {
  background-color: lightcoral;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: black;
  }
  